@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer components {*/
/*    .btn {*/
/*        @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm text-white inline-block;*/
/*    }*/

/*    .card {*/
/*        @apply p-3 rounded-md bg-white shadow-md h-full;*/
/*    }*/
/*}*/

body {
    overflow-x: hidden;
    @apply bg-primary;
    color: white
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Gotham', sans-serif;
}

h2 {
    font-family: "Chronicle Display", serif;
}

a {
    font-family: 'Whitney Medium', sans-serif;
}


.justify-self-left {
    justify-self: left;
}
.justify-self-center {
    justify-self: center;
}

.justify-self-right {
    justify-self: right;
}

.text-no-wrap {
    white-space: nowrap;
}


@font-face {
    font-family: 'Chronicle Display';
    src: url("~/assets/fonts/Chronicle_Display_Black.otf");
}

@font-face {
    font-family: 'Gotham';
    src: url("~/assets/fonts/Gotham_Medium.otf");
}

@font-face {
    font-family: 'Whitney Medium';
    src: url("~/assets/fonts/Whitney_Medium.otf");
}

@font-face {
    font-family: 'Whitney Bold';
    src: url("~/assets/fonts/Whitney_Bold.otf");
}